In [2]:
import pandas as pd
import numpy as np

In [3]:
shoes = pd.read_csv('~/Documents/GitHub/DSBA-webscraping/analysis/output.csv')  

for col in shoes:
    shoes[col] = shoes[col].str.strip().str.replace(u'\xa0', ' ')

shoes['regular_price'] = shoes['regular_price'].str.replace(' ', '').astype('float64')
shoes['special_price'] = shoes['special_price'].str.replace(' ', '').astype('float64')
shoes['shoe_type'] = shoes['first_name'].str.split(' ', n=1, expand=True)[0]
shoes['regular_if_discounted'] = shoes['regular_price'].where(shoes['special_price'].notna())

shoes = shoes[['first_name', 'second_name', 'shoe_type', 'regular_price', 'regular_if_discounted', 'special_price']]

shoes[:5]

,first_name,second_name,shoe_type,regular_price,regular_if_discounted,special_price
0,Sandały EVA MINGE,EM-44-07-000811 121,Sandały,399.0,399.0,299.0
1,Sandały NESSI,22179 Biały,Sandały,339.0,NaN,NaN
2,Sandały BALDACCINI,1697000 Chic Złoto,Sandały,349.0,349.0,279.0
3,Sneakersy ROBERTO,3034 Złoto Lico,Sneakersy,449.0,449.0,309.0
4,Klapki EVA MINGE,EM-41-09-001139 101,Klapki,389.0,389.0,289.0

In [26]:
def get_perc(prop, n=2):
    return str(round(prop*100,n)) + '%'

def summarise(df, grp_col):
    df = df.groupby(grp_col).agg(**{
        'Shoes count': ('regular_price', 'count'),
        'Shoes on promo': ('special_price', 'count'),
        'Avg. regular price': ('regular_price', lambda x: round(np.mean(x), 2)),
        'Avg. regular price if discounted': ('regular_if_discounted', lambda x: round(np.mean(x), 2)),
        'Avg. promo price': ('special_price', lambda x: round(np.mean(x), 2))
    })

    df = df.assign(**{
        'as % of total': lambda x: (x['Shoes count'] / x['Shoes count'].sum()).apply(get_perc, n=1),
        'Shoes discounted (%)': lambda x: (x['Shoes on promo'] / x['Shoes count']).apply(get_perc, n=1),
        'Avg. discount (%)': lambda x: (x['Avg. promo price'] / x['Avg. regular price if discounted'] - 1).apply(get_perc, n=1)
    }).sort_values(by='Shoes count', ascending=False)

    cols = ['Shoes count', 'as % of total']
    df = df[cols + [x for x in df.columns if x not in cols]]

    return df

total_summary = summarise(shoes.assign(shoe_type='total'), 'shoe_type')
total_summary

,Shoes count,as % of total,Shoes on promo,Avg. regular price,Avg. regular price if discounted,Avg. promo price,Shoes discounted (%),Avg. discount (%)
shoe_type,,,,,,,,
total,46304,100.0%,36332,448.67,478.65,319.72,78.5%,-33.2%

In [27]:

type_summary = summarise(shoes, 'shoe_type')
type_summary.head(10)

,Shoes count,as % of total,Shoes on promo,Avg. regular price,Avg. regular price if discounted,Avg. promo price,Shoes discounted (%),Avg. discount (%)
shoe_type,,,,,,,,
Sandały,8561,18.5%,5891,374.48,395.60,275.32,68.8%,-30.4%
Sneakersy,7681,16.6%,6203,492.71,502.87,337.68,80.8%,-32.8%
Botki,6390,13.8%,5863,596.99,620.54,383.85,91.8%,-38.1%
Klapki,5059,10.9%,3494,345.17,378.76,259.72,69.1%,-31.4%
Półbuty,2998,6.5%,2237,378.90,399.63,282.11,74.6%,-29.4%
Buty,2700,5.8%,2260,484.13,482.70,350.72,83.7%,-27.3%
Espadryle,2323,5.0%,1663,360.19,414.18,278.74,71.6%,-32.7%
Japonki,1295,2.8%,987,228.82,229.32,154.91,76.2%,-32.4%
Trapery,1210,2.6%,1104,659.39,682.29,425.54,91.2%,-37.6%
Kozaki,944,2.0%,864,790.04,820.78,512.67,91.5%,-37.5%

In [28]:
pd.concat([total_summary, type_summary])

,Shoes count,as % of total,Shoes on promo,Avg. regular price,Avg. regular price if discounted,Avg. promo price,Shoes discounted (%),Avg. discount (%)
shoe_type,,,,,,,,
total,46304,100.0%,36332,448.67,478.65,319.72,78.5%,-33.2%
Sandały,8561,18.5%,5891,374.48,395.60,275.32,68.8%,-30.4%
Sneakersy,7681,16.6%,6203,492.71,502.87,337.68,80.8%,-32.8%
Botki,6390,13.8%,5863,596.99,620.54,383.85,91.8%,-38.1%
Klapki,5059,10.9%,3494,345.17,378.76,259.72,69.1%,-31.4%
Półbuty,2998,6.5%,2237,378.90,399.63,282.11,74.6%,-29.4%
Buty,2700,5.8%,2260,484.13,482.70,350.72,83.7%,-27.3%
Espadryle,2323,5.0%,1663,360.19,414.18,278.74,71.6%,-32.7%
Japonki,1295,2.8%,987,228.82,229.32,154.91,76.2%,-32.4%
Trapery,1210,2.6%,1104,659.39,682.29,425.54,91.2%,-37.6%
Kozaki,944,2.0%,864,790.04,820.78,512.67,91.5%,-37.5%
Tenisówki,905,2.0%,778,292.54,305.40,210.89,86.0%,-30.9%
Baleriny,834,1.8%,615,331.00,340.60,240.47,73.7%,-29.4%
Trampki,811,1.8%,635,276.45,301.29,202.73,78.3%,-32.7%
Szpilki,796,1.7%,481,520.15,532.98,391.33,60.4%,-26.6%
Sztyblety,718,1.6%,668,604.71,626.15,394.88,93.0%,-36.9%
Trekkingi,618,1.3%,505,495.43,497.12,380.72,81.7%,-23.4%
Kapcie,532,1.1%,486,277.13,288.76,194.08,91.4%,-32.8%
Lordsy,458,1.0%,347,470.76,474.72,331.86,75.8%,-30.1%
Śniegowce,332,0.7%,325,702.10,708.49,457.35,97.9%,-35.4%
Mokasyny,311,0.7%,231,326.63,340.67,250.39,74.3%,-26.5%
Muszkieterki,269,0.6%,231,728.32,802.77,492.03,85.9%,-38.7%
Kalosze,219,0.5%,195,396.59,414.51,278.42,89.0%,-32.8%
Oxfordy,111,0.2%,82,404.73,422.77,308.83,73.9%,-27.0%
Oficerki,96,0.2%,93,792.48,806.00,514.13,96.9%,-36.2%
Glany,79,0.2%,70,738.75,759.43,577.01,88.6%,-24.0%
Rolki,17,0.0%,5,614.29,553.00,477.00,29.4%,-13.7%
Wrotki,12,0.0%,1,552.33,579.00,463.00,8.3%,-20.0%
Cholewka,9,0.0%,9,319.00,319.00,182.33,100.0%,-42.8%
Podeszwa,6,0.0%,6,297.33,297.33,172.33,100.0%,-42.0%
Trzewiki,6,0.0%,1,295.67,769.00,429.00,16.7%,-44.2%
RYŁKO-8PFZ4_T6,1,0.0%,0,279.99,NaN,NaN,0.0%,nan%
Scholl-HEAVEN,1,0.0%,1,249.99,249.99,179.00,100.0%,-28.4%
LOVE,1,0.0%,1,419.00,419.00,289.00,100.0%,-31.0%
EVA,1,0.0%,0,599.00,NaN,NaN,0.0%,nan%